.login-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vh;
    /* background-image: url('../../assets/login-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; */
}

.move-bg-right{
    background-size: cover;
    height: 100vh;
    position: fixed;
    right: 0;
}
.move-box-left{
    align-self: center;
    padding: 5vh;
    background-color: #EBEBF6;
    border-radius: 10%;
    margin-left: 5vw;
}

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

@media screen and (max-width: 480px) {
    .move-bg-right{
        height: 30vh;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .login-page{
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) {
    .login-page{
        background-size: cover;
    }
}

@media screen and (max-width: 1200px) {
    .login-page{
        background-size: cover;
    }
}

@media screen and (max-width: 1201px) {
    .login-page{
        background-size: cover;
    }
}