.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 12;
}

.login-box input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 10px 0 10px 20px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.login-box input::placeholder {
    color: #B0B0B0;
    font-size: 1.2rem;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.login-box button {
    transform: translate(0, -40px);
    width: 420px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #6787FC;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #2251FF;
}

.login-link-text {
    color: #6787FC;
    font-size: 1.7rem;
    letter-spacing: 0rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid #6787FC;
    transform: translate(0, -20px);
}

.login-link-text:hover {
    color: #2251FF;
    border-bottom: 3px solid #2251FF;
}

.error-message {
    color: rgb(240, 84, 84);
    font-size: 1.2rem;
    min-height: 22px;
}

@media screen and (max-width: 700px) {

    .login-box {
        height: 250px;
        width: 250px;
    }

    .login-box input {
        width: 275px;
        height: 50px;
        border: none;
        border-radius: 20px;
        padding: 10px 0 10px 20px;
        font-size: 1.4rem;
        font-weight: bolder;
    }

    .login-box>button {
        width: 275px;
        height: 60px;
        border: none;
        border-radius: 20px;
        background-color: #6787FC;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
    }
}