.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 12;
}

.register-box input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 10px 0 10px 20px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.register-box input::placeholder {
    color: #B0B0B0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.register-box button{
    width: 400px;
    height:60px;
    border: none;
    border-radius: 20px;
    background-color: #6787FC;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.register-box button:hover{
    background-color: #2251FF;
}

.register-link-text{
    color: #6787FC;
    font-size: 1.7rem;
    letter-spacing: 0rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid #6787FC;
}

.register-link-text:hover{
    color: #2251FF;
    border-bottom: 3px solid #2251FF;
}

@media screen and (max-width: 700px){
    
    .register-box{
        height: 490px;
        width: 300px;
        gap:18px;
    }

    .register-box input{
        width: 275px;
        height: 50px;
        border: none;
        border-radius: 20px;
        padding: 10px 0 10px 20px;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    .register-box > button{
        width: 275px;
        height:100px;
        border: none;
        border-radius: 20px;
        background-color: #6787FC;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
    }
}